.class-1{
    color: white;
    background: steelblue;
}
.class-2{
    font-size: 28px;
    border: 1px solid red;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: slategray;
}
.navbar a{
    text-decoration: none;
    color: steelblue;
    font-size: large;
    display: block;
    padding: 20px 60px 20px 60px;
    color: white;
}
.navbar a:hover{
    background: lightslategray;
}