
/* Global styles 
------------------------------------*/
body{
    color: #343434;
    margin: 0;
    padding: 0;
}
img {
    width: 300px;
}
a{
    color: #343434;
}
a:hover{
    color: #EAE0CC;
}
h2{
    margin: 0;
}
.content-wrap{
    width: 980px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Profile 
------------------------------------*/
header{
    background: #EAE0CC;
}

/* Projects 
------------------------------------*/
.projects{
    background: #C9ADA1;
}

/* Work Experience 
------------------------------------*/
.work-experience{
    background: #A0A083;
}

/* Education 
------------------------------------*/
.education{
    background: #798478;
}

/* Contact Info 
------------------------------------*/
footer{
    background: whitesmoke;
}