/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
*/


/* Global styles
------------------------------------*/
/* The Box Model Fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* ***** */

body {
  color: #262525;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
h2{
  font-size: 25px;
}
h1{
  font-size: 40px;
  line-height: 1;
}

h1, h2{
  font-family: 'Source Sans 3', sans-serif;
  margin: 12px 0;
}

img {
  width: 300px;
}
a {
  color: rgb(212,73,80);
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: grey;
}
.content-wrap{
  width: 900px;
  margin: 0 auto;
  padding: 30px 0;
}


/* Profile
------------------------------------*/
header {
  background: #374A67;
  color: #F7FFF7;
}


/* Projects
------------------------------------*/
.projects {
  background: #A5C4D4;
  
}
.projects .btn{
  text-decoration: none;
  background: rgb(55, 74, 103);
  color: #EAF9D9;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover{
  background: rgba(55, 74, 103, 60%);
}
.project-item{
  overflow: hidden;
  padding: 20px 0;
}
.project-item h3{
  margin-top: 0;
}
.project-item img{
  float: left;
  margin-right: 20px;
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #D3C5CF;
  
}


/* Education
------------------------------------*/
.education{
  background: #EAF9D9;
  
}


/* Contact Info
------------------------------------*/
footer {
  background: #83B6C3;
  color: #F7FFF7;
}
